### ML Project 2 - Recommender Systems - Surprise Library

In [1]:
from surprise import *
from surprise.model_selection import PredefinedKFold
from surprise.model_selection import GridSearchCV
from surprise.model_selection import cross_validate

import pandas as pd 
import numpy as np
import math
from implementations import *

%load_ext autoreload
%autoreload 2

### Load Data

In [2]:
train_file = "data_train.csv"
submission_file = "sampleSubmission.csv"

trainset, testset, df, toBeSubmitted = load_data(train_file, submission_file)

### SVD

#### Tune HyperParams

In [ ]:
algtype = SVD
param_grid = {'n_epochs': [30],
              'lr_all': [0.01, 0.1],
              'reg_all':[0.01, 0.1],
             }
gs = tuneHyperParams(algtype, trainset, testset, df, param_grid)

In [ ]:

with open('SVD.pkl', 'wb') as f:
    pickle.dump(gs, f)

#### Cross Validate

In [ ]:
#algo = SVDpp(n_epochs=30,lr_all=0.001,reg_all=0.001)
algo = SVD(n_epochs=1,lr_all=0.001,reg_all=0.001)

reader = Reader(rating_scale=(1, 5))
d = Dataset.load_from_df(df[['User', 'Movie', 'Rating']], reader)
cross_validate(algo, d, measures=['RMSE'], cv=5, verbose=True)

### KnnBaseline

#### Tune HyperParams

In [ ]:
algotype = KNNBaseline
param_grid = {'k': [50, 300], 'n_epochs': [30],'name': ['pearson_baseline'], 'user_based': [True]}

gs = tuneHyperParams(algotype, trainset, testset, df, param_grid)

In [ ]:
with open('knnUserBased.pkl', 'wb') as f:
    pickle.dump(gs, f)

In [ ]:
algotype = KNNBaseline
param_grid = {'k': [50, 300], 'n_epochs': [30],'name': ['pearson_baseline'], 'user_based': [False]}

gs = tuneHyperParams(algotype, trainset, testset, df, param_grid)

In [ ]:
with open('knnItemBased.pkl', 'wb') as f:
    pickle.dump(gs, f)

#### Cross Validate

In [ ]:
bsl_options = {'method': 'als','n_epochs': 20}
sim_options = {'name': 'pearson_baseline'}
algo = KNNBasic(k=300, bsl_options=bsl_options, sim_options=sim_options)

reader = Reader(rating_scale=(1, 5))
d = Dataset.load_from_df(df[['User', 'Movie', 'Rating']], reader)
cross_validate(algo, d, measures=['RMSE'], cv=5, verbose=True)

### SlopeOne

In [ ]:
algo = SlopeOne()

reader = Reader(rating_scale=(1, 5))
d = Dataset.load_from_df(df[['User', 'Movie', 'Rating']], reader)
cross_validate(algo, d, measures=['RMSE'], cv=5, verbose=True)

### Baseline

In [ ]:
algo = BaselineOnly()

reader = Reader(rating_scale=(1, 5))
d = Dataset.load_from_df(df[['User', 'Movie', 'Rating']], reader)
cross_validate(algo, d, measures=['RMSE'], cv=5, verbose=True)

### Select Algorithm

In [ ]:
# Select Algorithm
#algo = SVDpp(n_epochs=30,lr_all=0.001,reg_all=0.001)
algtype = SVD
param_grid = {'n_epochs': [50],
              'lr_all': [0.01, 0.0005, 0.001, 0.01, 0.1],
              'reg_all':[0.01, 0.0005, 0.001, 0.01, 0.1],
             }

### Tune Hyperparameters via Grid Search

In [ ]:
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(df[['User', 'Movie', 'Rating']], reader)
#trainset, testset = train_test_split(data, test_size=.25, random_state=20)


gs = GridSearchCV(algtype, param_grid, measures=['rmse', 'mae'], cv=3, n_jobs=-1)

model = gs.fit(data)

# best RMSE score
print(gs.best_score['rmse'])

# combination of parameters that gave the best RMSE score
print(gs.best_params['rmse'])

### Fit & Predict

In [ ]:
# Fit
#algo = SVD(n_factors=factor ,n_epochs=epoch, lr_all=lr_rate, reg_all=reg_rate)
algo = gs.best_estimator['rmse']

model = algo.fit(trainset)

# Predict
predictions = algo.test(testset)

In [ ]:
predictions

### Submit

In [ ]:
# Create Submission file
create_submission_file('submission_surprise', predictions, toBeSubmitted)

In [3]:
runSlopeOne(trainset, testset, toBeSubmitted)

         User  Movie  Rating
0          37      1       3
1          73      1       3
2         156      1       4
3         160      1       3
4         248      1       3
5         256      1       3
6         284      1       3
7         400      1       3
8         416      1       3
9         456      1       3
10        474      1       3
11        495      1       3
12        515      1       2
13        518      1       4
14        521      1       4
15        559      1       3
16        596      1       3
17        614      1       3
18        621      1       3
19        661      1       3
20        697      1       3
21        710      1       3
22        713      1       3
23        732      1       4
24        807      1       3
25        824      1       4
26        926      1       3
27        951      1       3
28       1000      1       4
29       1141      1       3
...       ...    ...     ...
1176922  9786   1000       4
1176923  9791   1000       4
1176924  9797   1000       4
1176925  9799   1000       4
1176926  9801   1000       4
1176927  9809   1000       4
1176928  9814   1000       3
1176929  9817   1000       4
1176930  9823   1000       4
1176931  9830   1000       3
1176932  9831   1000       4
1176933  9836   1000       4
1176934  9851   1000       4
1176935  9862   1000       4
1176936  9880   1000       4
1176937  9885   1000       4
1176938  9889   1000       4
1176939  9896   1000       3
1176940  9901   1000       4
1176941  9924   1000       4
1176942  9928   1000       4
1176943  9930   1000       4
1176944  9939   1000       4
1176945  9941   1000       4
1176946  9965   1000       4
1176947  9974   1000       4
1176948  9977   1000       4
1176949  9978   1000       3
1176950  9982   1000       3
1176951  9996   1000       4

[1176952 rows x 3 columns]

In [4]:
runBaselineOnly(trainset, testset, toBeSubmitted)

Estimating biases using als...

         User  Movie  Rating
0          37      1       3
1          73      1       3
2         156      1       4
3         160      1       3
4         248      1       3
5         256      1       3
6         284      1       3
7         400      1       3
8         416      1       3
9         456      1       3
10        474      1       3
11        495      1       3
12        515      1       2
13        518      1       4
14        521      1       4
15        559      1       3
16        596      1       3
17        614      1       3
18        621      1       3
19        661      1       3
20        697      1       3
21        710      1       3
22        713      1       3
23        732      1       4
24        807      1       3
25        824      1       4
26        926      1       3
27        951      1       3
28       1000      1       4
29       1141      1       4
...       ...    ...     ...
1176922  9786   1000       4
1176923  9791   1000       4
1176924  9797   1000       4
1176925  9799   1000       4
1176926  9801   1000       4
1176927  9809   1000       4
1176928  9814   1000       3
1176929  9817   1000       4
1176930  9823   1000       4
1176931  9830   1000       3
1176932  9831   1000       4
1176933  9836   1000       4
1176934  9851   1000       4
1176935  9862   1000       4
1176936  9880   1000       4
1176937  9885   1000       4
1176938  9889   1000       4
1176939  9896   1000       3
1176940  9901   1000       4
1176941  9924   1000       4
1176942  9928   1000       4
1176943  9930   1000       4
1176944  9939   1000       4
1176945  9941   1000       4
1176946  9965   1000       4
1176947  9974   1000       4
1176948  9977   1000       4
1176949  9978   1000       3
1176950  9982   1000       3
1176951  9996   1000       4

[1176952 rows x 3 columns]